<p>
  <strong>Title:</strong>
  <%= @figure.title %>
</p>
<% if @figure.photo.attached? %>
<!-- @figure.photo.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @figure.photo %>
  </p>
<% end %>
<p>
  <strong>Date:</strong>
  <%= @figure.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @figure.description %>
</p>

<%= link_to 'Back', figures_path %>
